.chat {

}

.chat__sidebar {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 220px;
    font-size: 14px;
    letter-spacing: 0%;
}

.chat__new-btn {
    border: 1px solid #9679D933;
    padding: 8px 12px;
    line-height: 120%;
    text-align: left;
    cursor: pointer;
}

.chat__sidebar-message {

}

.chat__list {
    line-height: 100%;
    list-style: none;
    padding: 0;
}

.chat__item {
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.chat__item:hover {
    color: #A179D9;
    background-color: white;
}

.chat__item_active,
.chat__item:active,
.chat__item_active:hover {
    background-color: #9679D933;
    color: #9679D9;
}

.chat__new-btn_error-msg {
    color: red;
}

.chat__main {

}