.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: center;
  margin: 0 auto;
}

.intro__header {
    display: flex;
    margin-bottom: 32px;
}

.intro__header-img {
    height: 43px;
    position: relative;
    top: 4px;
    left: 11px;
}

.card-container {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 210px;
    background-color: #F6F3FF;
    border-radius: 16px;
    padding: 15px 12px;
}

.card__icon {
    width: 106px;
    margin-bottom: 23px;
}

.card__text {
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 0.85em;
}

.intro__description-text {
    margin-bottom: 16px;
}

.intro__start-btn {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 16px;
}

.intro__start-btn:hover {

    background: #1c1c1c;
    background-image: 
        linear-gradient(
            360deg, 
        rgba(150, 121, 217, 0.4) 0%,
        rgba(150, 121, 217, 0) 100%);
}

@media screen and (max-width: 670px) {
    .intro { 
        justify-content: inherit;
    }

    .intro__header-img {
        display: none;
    }

    .intro__header {
        padding: 28px 0;
        margin-bottom: 0;
        width: 100%;
        justify-content: center;
    }

    .intro__header-text {
        text-align: center;
    }

    .card-container {
        padding-top: 11px;
        flex-direction: column;
        gap: 12px;
    }

    .card {
        flex-direction: row;
        max-width: 100%;
        padding: 21px 16px;
        gap: 23px;
        align-items: center;
    }

    .card__icon {
        margin: 0;
    }

    .intro__description-text {
        text-align: center;
    }

    .intro__start-btn {
        width: 100%;
    }
}