.header {
    display: flex;
    justify-content: space-between;
    height: 36px;
    margin: 0 0 22px 0;
}

.header__nav {
    display: flex;
    gap: 16px;
}

.header__nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 8.5px 12px;
    line-height: 120%;
    border-radius: 4px;
}

.header__nav-link:hover,
.header__nav-link:visited {
    text-decoration: none;
    color: black;
}

.header__nav-link:hover {
    background-color: #9679D91A;
}

.header__nav-link_active {
    background-color: #9679D933;
}

.header__menu-btn {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url('../../assets/MobileHamburgerIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1200px) {
  .header {
    justify-content: flex-start;
    gap: 12px;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }

  .header__menu-btn {
    display: block;
  }

  .header__logo {
    margin-left: auto;
  }

  /* Nav is hidden by default on mobile */
  .header__nav {
    position: fixed;
    top: 47px;
    bottom: 0;
    left: 0;
    width: 75%;
    max-width: 255px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 101;
    display: none;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    background-color: #fff;
    justify-content: end;
    gap: 7px;
    padding: 8.5px auto 8.5px 12px;;
    /* Add padding and gap according to Figma */
  }

  /* Shown when the menu is open */
  .header__nav_mobile {
    display: flex;
  }
}